<div class="container">
  <div class="row">
    <div class="col-8">
      <div class="container">
        <h4> Joanne "Jo" Rowling </h4>
        <p>
          Joanne "Jo" Rowling (nacida en Yate, Reino Unido, 31 de julio de
          1965), mejor conocida como J. K. Rowling, es la autora británica de la
          historia fantástica de Harry Potter, el niño mago huérfano. Nació en
          Chipping Sodburry, South Gloucestershire.
        </p>
        <p>
          Su editor, Bloomsbury, quiso que ella utilizara sus iniciales en la
          portada de los libros de Harry Potter, indicando que un nombre
          femenino en la portada atraería menos el interés de los niños, por lo
          que decidió utilizar el nombre de su abuela paterna "Kathleen".
        </p>
        <p>
          En febrero de 2004, la revista Forbes indicó que la fortuna de Rowling
          ascendía a 576 millones de libras esterlinas, convirtiéndose en la
          primera persona en hacerse millonaria escribiendo libros. Es la mujer
          más rica del Reino Unido, y mucho más rica que la reina Isabel II.
        </p>
        <p>La escritora obtuvo el Premio Príncipe de Asturias de la Concordia en
          el año 2003.</p>

        <h4>Datos curiosos</h4>
        <div class="container">
          <ul>
            <li>Su primer libro fue rechazado 12 veces por diferentes
              editoriales hasta que Bloomsbury lo tomó.</li>
            <li>El primer borrador de Harry Potter y la piedra filosofal, el
              cual terminó en 1996, fue hecho en una máquina de escribir.</li>
            <li>J.K. Rowling comenzó a escribir la ahora icónica historia en una
              servilleta durante un viaje en tren de Manchester a Londres.</li>
            <li>Su fortuna actual es de mil millones de dólares, lo cual la
              convierte en la escritora más rica del mundo.</li>
            <li>La idea de los dementores surgió a raíz de un momento complicado
              en su vida tras su divorcio y con depresión.</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card" style="width: 18rem;">
        <img
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQN8bDkX673yx8XFpDqAAhlKFmlv6svQC7x7BaKrbRWp-LaOe0RPjVU0s7-Ch9Ho9RCbsw&usqp=CAU"
          class="card-img-top"
          alt="jk"
        />
        <div class="card-body">
          <h5 class="card-title">Joannne Rowling</h5>
          <p class="card-text">Biografia</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Fecha de nacimiento: 31 de julio de 1965
            (53 años)</li>
          <li class="list-group-item">Seudónimo: J.K. Rowling</li>
          <li class="list-group-item">Ocupación: Autor, filántropo, productora,
            guionista</li>
          <li class="list-group-item">Alma mater: Universidad de Exeter Moray
            House</li>
          <li class="list-group-item">Género: Fantasía, drama, ficción para
            adultos, jóvenes, tragedia, comedia, crimen, ficcion</li>
          <li class="list-group-item">Obras destacadas: Harry Potter y Cormoran
            Strike</li>
        </ul>
        <div class="card-body">
          <a
            href="https://twitter.com/jk_rowling"
            class="card-link"
          >@Twitter</a>
          <a href="https://my.wizardingworld.com/login" class="card-link">Potter
            More</a>
        </div>
      </div>
    </div>
  </div>
</div>