<div class="container">
  <h4 class="card-title">Galería</h4>
  <div
    id="carouselExampleSlidesOnly"
    class="carousel slide"
    data-bs-ride="carousel"
  >
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img
          src="https://www.teahub.io/photos/full/114-1149211_jk-rowling.jpg"
          class="d-block w-100"
          alt="jk"
        />
      </div>
      <div class="carousel-item">
        <img
          src="https://hipertextual.com/wp-content/uploads/2017/03/Rowling.jpg"
          class="d-block w-100"
          alt="jk"
        />
      </div>
      <div class="carousel-item">
        <img
          src="https://images.ctfassets.net/usf1vwtuqyxm/4fRnDSgRAhJdQzcrn8b0bO/f9ddd195bfcc1383fdf290a6dfa9f953/hogwarts-library-deathly-hallows-blooms-crop.jpg?fm=jpg&q=70&w=2560"
          class="d-block w-100"
          alt="jk"
        />
      </div>
      <div class="carousel-item">
        <img
          src="https://cdn.wallpapersafari.com/63/13/XiKe2H.jpg"
          class="d-block w-100"
          alt="jk"
        />
      </div>
    </div>
  </div>
</div>