<div class="container home-card">
  <div class="card" style="width: 18rem;">
    <img
      src="https://i.pinimg.com/736x/fd/75/f6/fd75f6db79d0a65acc055b17a5418f8d.jpg"
      class="card-img-top"
      alt="jk"
    />
    <div class="card-body">
      <h4 class="card-title">J.K. Rowling</h4>
      <p class="card-text">Biografia</p>
    </div>
  </div>
</div>